.wt-theme-fab {

    .jc-fancy-imagebar {

        border: 5px solid #EEE;
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem;

        @include jc-container-lg;
    }
}
