/**
 * Fancy Imagebar
 */

 @mixin jc-container-lg {
    margin-left: auto;
    margin-right:auto;

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    width: 100%;
 }

 .jc-fancy-imagebar {

    overflow: hidden;

    img {
        object-fit: cover;
        object-position: left;
    }

    @at-root &-map {
        area {
            outline: none;
        }
    }

 }

 @import "webtrees-themes";

/** Custom themes */
@import "custom-themes-rural";

// The JustLight theme supports this module from the theme css.
