/**
 * Fancy Imagebar
 */
.jc-fancy-imagebar {
  overflow: hidden;
}

.jc-fancy-imagebar img {
  object-fit: cover;
}

[dir="ltr"] .jc-fancy-imagebar img {
  object-position: left;
}

[dir="rtl"] .jc-fancy-imagebar img {
  object-position: right;
}

.jc-fancy-imagebar-map area {
  outline: none;
}

/** webtrees themes */
[dir] .wt-theme-clouds .jc-fancy-imagebar {
  border: 1px solid #003399;
}

.wt-theme-colors .jc-fancy-imagebar-divider {
  height: 1px;
}

[dir] .wt-theme-colors .jc-fancy-imagebar-divider {
  background-color: #999;
  margin-top: 1px;
}

.wt-theme-fab .jc-fancy-imagebar {
  width: 100%;
}

[dir] .wt-theme-fab .jc-fancy-imagebar {
  border: 5px solid #EEE;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .wt-theme-fab .jc-fancy-imagebar {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wt-theme-fab .jc-fancy-imagebar {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .wt-theme-fab .jc-fancy-imagebar {
    max-width: 1320px;
  }
}

.wt-theme-minimal .jc-fancy-imagebar-divider {
  height: 1px;
}

[dir] .wt-theme-minimal .jc-fancy-imagebar-divider {
  background-color: #555;
}

[dir] .wt-theme-webtrees .jc-fancy-imagebar {
  margin-top: 3px;
}

.wt-theme-webtrees .jc-fancy-imagebar-divider {
  height: 1px;
}

[dir] .wt-theme-webtrees .jc-fancy-imagebar-divider {
  background-color: #81A9CB;
  margin-top: 3px;
}

[dir] .wt-theme-xenea .jc-fancy-imagebar {
  margin-top: 5px;
}

.wt-theme-xenea .jc-fancy-imagebar-divider {
  height: 2px;
}

[dir] .wt-theme-xenea .jc-fancy-imagebar-divider {
  background-color: #0073CF;
  margin: 5px;
}

/** Custom themes */
.wt-theme-_myartjaub_ruraltheme_ .jc-fancy-imagebar {
  width: 100%;
  max-width: 95vw;
}

[dir] .wt-theme-_myartjaub_ruraltheme_ .jc-fancy-imagebar {
  margin-left: auto;
  margin-right: auto;
  border-left: 15px solid white;
  border-right: 15px solid white;
}

@media (min-width: 992px) {
  .wt-theme-_myartjaub_ruraltheme_ .jc-fancy-imagebar {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wt-theme-_myartjaub_ruraltheme_ .jc-fancy-imagebar {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .wt-theme-_myartjaub_ruraltheme_ .jc-fancy-imagebar {
    max-width: 1320px;
  }
}

@media (min-width: 768px) {
  .wt-theme-_myartjaub_ruraltheme_ .jc-fancy-imagebar {
    max-width: 85vw;
  }
}

[dir] .wt-theme-_myartjaub_ruraltheme_ .container-lg {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
